/**less variables**/
html,body {
  height:100%;
}

body {
  padding: 0;
  margin: 0;
  background-image: url("decoupes/img/background.jpg");
  background-repeat: no-repeat;
  background-position: center 70px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment:fixed;
}
.container > img{
    margin: 2% 40%;
  }
.header .container {
}
